/terraform/.terraform/
/terraform/terraform.tfstate.d/
/terraform/private.auto.tfvars

/bin/alpine-box-init.sh
/build-artifacts.sh.log
/upload-artifacts.sh.log
/chillbox.*.tar.gz
/crash.*.log
/local-secrets/*
!/local-secrets/.gitkeep
/.local-env
/.env

/dist
