# Ignore everything
/*

# Except these specific files and directories
!/chillbox.tf
!/variables.tf
!/main.tf
!/alpine-box-init.sh.tftpl
!/private.auto.tfvars
!/bin/doterra.sh

# Created from the infra container and copied over
!/chillbox-terraform-010-infra.output.json

# terraform init creates the dependency lock file
# https://www.terraform.io/language/files/dependency-lock
!/.terraform.lock.hcl
