
# UPKEEP due: "2023-03-23" label: "Python pip" interval: "+3 months"
# https://pypi.org/project/pip/
pip==22.3.1

# UPKEEP due: "2023-03-23" label: "Python wheel" interval: "+3 months"
# https://pypi.org/project/wheel/
wheel==0.38.4

# UPKEEP due: "2023-03-23" label: "Python setuptools" interval: "+3 months"
# https://pypi.org/project/setuptools/
setuptools==65.7.0

# UPKEEP due: "2023-03-23" label: "Python Cython" interval: "+3 months"
# https://pypi.org/project/Cython/
Cython==0.29.33
