# Ignore everything
/*

# No docker build should use the top level as the build context.

# Except these specific files and directories
!/src/local/verify-sites/requirements.txt
!/src/local/verify-sites/site.schema.json
!/src/local/verify-sites/check-json.py
!/src/local/verify-sites/verify-sites-artifact.sh

!/requirements.txt
!/pip-requirements.txt
!/pip-tools-requirements.txt
!/dep/*
!/bin/*
!/.pip-audit-last-run.txt
!/build/update-dep-run-audit.sh
