# Prevent including any Terraform var files like private.auto.tfvars and such.
# These shouldn't be in the project directory anyway.
*.tfvars
# With the exception of these example tfvars files
!/example/chillbox-config/development/terraform-010-infra/example-private.auto.tfvars
!/example/chillbox-config/development/terraform-020-chillbox/example-private.auto.tfvars
!/example/chillbox-config/acceptance/terraform-010-infra/example-private.auto.tfvars
!/example/chillbox-config/acceptance/terraform-020-chillbox/example-private.auto.tfvars
!/example/chillbox-config/production/terraform-010-infra/example-private.auto.tfvars
!/example/chillbox-config/production/terraform-020-chillbox/example-private.auto.tfvars
!/example/chillbox-config/test/terraform-010-infra/example-private.auto.tfvars
!/example/chillbox-config/test/terraform-020-chillbox/example-private.auto.tfvars

/dist/*
!/dist/.gitkeep
!/dist/README.md

/.build-*

# The build/MANIFEST file is generated, but commit it anyway to be more aware
# when files are added or removed.
#/build/MANIFEST

/dep/*
!/dep/pip-requirements.txt
!/dep/requirements.txt
/.pip-audit-last-run.txt
