# Updated from the ansible container template file.
# {{ template_fullpath }}
# Date {{ template_run_date }}
# Updating this file should trigger a process that runs the
# /etc/chillbox/bin/update.sh script.

# These artifact files are in the {{ artifact_bucket_name }} s3 bucket.
# /chillbox/
export CHILLBOX_ARTIFACT="{{ chillbox_artifact }}"
# /_sites/
export SITES_ARTIFACT="{{ sites_artifact }}"
