# Support CHILLBOX_PATH_SECRETS from chillbox upload commands.
mkdir -p {{ CHILLBOX_PATH_SECRETS }}/{{ chillbox_user.name }}
chown {{ chillbox_user.name }}:{{ chillbox_user.name }} {{ CHILLBOX_PATH_SECRETS }}/{{ chillbox_user.name }}
chmod 0700 {{ CHILLBOX_PATH_SECRETS }}/{{ chillbox_user.name }}
