# Support CHILLBOX_PATH_SENSITIVE from chillbox upload commands.
mkdir -p {{ chillbox_env.CHILLBOX_PATH_SENSITIVE }}/{{ chillbox_user.name }}
chown {{ chillbox_user.name }}:{{ chillbox_user.name }} {{ chillbox_env.CHILLBOX_PATH_SENSITIVE }}/{{ chillbox_user.name }}
chmod 0700 {{ chillbox_env.CHILLBOX_PATH_SENSITIVE }}/{{ chillbox_user.name }}
