# Support PATH_SECRETS from chillbox upload commands.
mkdir -p /var/lib/chillbox/secrets/{{ chillbox_user.name }}
chown {{ chillbox_user.name }}:{{ chillbox_user.name }} /var/lib/chillbox/secrets/{{ chillbox_user.name }}
chmod 0700 /var/lib/chillbox/secrets/{{ chillbox_user.name }}
