# Ignore everything
/*

# Except these specific files and directories
!/010-infra/variables.tf
!/010-infra/main.tf
!/010-infra/outputs.tf
!/010-infra/bootstrap-chillbox-init-credentials.sh.tftpl

!/020-chillbox/chillbox.tf
!/020-chillbox/variables.tf
!/020-chillbox/main.tf
!/020-chillbox/outputs.tf
!/020-chillbox/init-chillbox.sh.tftpl
!/020-chillbox/upload-artifacts.sh

!/030-artifact-modules/extract-terraform-artifact-modules.sh

!/bin/*
!/010-infra/bin/*
!/020-chillbox/bin/*

# terraform init creates the dependency lock file
# https://www.terraform.io/language/files/dependency-lock
!/010-infra/.terraform.lock.hcl
!/020-chillbox/.terraform.lock.hcl
