#!/usr/bin/env sh
set -o errexit

work_dir="$(dirname "$0")"

#{% if ENVIRONMENT == "development" %}
set -x
cp "$0" /root/debug-user-data.sh
#{% endif %}

# A restart of sshd will generate hostkeys.
rc-service sshd restart

init_user() {
  #{#-
  # Only the owner is added initially in the user-data script.
  #  This is because only a single list of public ssh keys are provided to the
  #  cloud host api. These get set to /root/.ssh/authorized_keys which the
  #  user-data script will copy over to the owner's .ssh/authorized_keys.
  #  Having other users being set up initially would include all their public
  #  ssh keys as well for every user being created. The other login users could
  #  be added later in a remote run task.

  # Configure doas to not allow root privileges on a lot of stuff including not
  # allowing any user to be root?
  # Set the owner of the private key to be root, use a service that watches for
  # file events in order to decrypt files. This way no user has access to the
  # private key and the private key stays in a tmpfs mount which will be lost if
  # the server reboots.
  #}
# shellcheck disable=SC2016
id '{{ chillbox_user.name }}' > /dev/null 2> /dev/null \
    || useradd -m -p '{{ chillbox_user.password_hash }}' '{{ chillbox_user.name }}'

#{#-
# Include the user to the chillconf group so login users can
# modify the /etc/chillbox/chillbox.config file.
#}
groupadd -f --system chillconf
usermod -a -G chillconf '{{ chillbox_user.name }}'

#{#-
# Set password as expired to force user to reset when logging in
#}
passwd --expire '{{ chillbox_user.name }}'

mkdir -p '/home/{{ chillbox_user.name }}/.ssh'
cat <<'HERE_PUBLIC_SSH_KEYS' > '/home/{{ chillbox_user.name }}/.ssh/authorized_keys'
{{ chillbox_user["public_ssh_key"] | join('\n') }}
HERE_PUBLIC_SSH_KEYS

chown -R '{{ chillbox_user.name }}' '/home/{{ chillbox_user.name }}/.ssh'
chmod -R 700 '/home/{{ chillbox_user.name }}/.ssh'
chmod -R 644 '/home/{{ chillbox_user.name }}/.ssh/authorized_keys'

mkdir -p /etc/doas.d
cat <<DOAS_CONFIG > /etc/doas.d/chillbox.doas.conf
permit persist {{ chillbox_user.name }} as root
DOAS_CONFIG
chmod 0600 /etc/doas.d/chillbox.doas.conf
doas -C /etc/doas.d/chillbox.doas.conf && echo "doas config ok"

#{#-
# Configure sshd to only allow users with authorized_keys and a password to ssh
# in. The root user is blocked from logging in. Note that UsePAM is not used
# because busybox login does not support PAM. Even installing the
# openssh-server-pam package it configures openssh to not use PAM.
# https://git.alpinelinux.org/aports/tree/main/openssh/APKBUILD?h=3.17-stable#n146
#}

cat <<SSHD_CONFIG > /etc/ssh/sshd_config
AuthenticationMethods publickey,password
AuthorizedKeysFile .ssh/authorized_keys
KbdInteractiveAuthentication no
PasswordAuthentication yes
PermitRootLogin no
PubkeyAuthentication yes
SSHD_CONFIG

sshd -t
# Hacky way of getting openrc to show that sshd is running.
#pkill sshd || printf ''
#rc-service sshd start || printf ''
# TODO: Maybe change to just a restart and apply the changes?
#rc-service sshd restart
#
}


nftables_setup() {
#{#- Include the nftables script that was defined for this server.  #}
cat <<'HERE' > "$work_dir/chillbox.nft"
{% include [nft_script, 'chillbox:chillbox.nft'] %}
HERE
chmod u+x "$work_dir/chillbox.nft"
#{#-
## If running into an error like this:
## mnl.c:60: Unable to initialize Netlink socket: Protocol not supported
## This is because the kernel was upgraded via the 'apk upgrade' command. It would require a reboot.
#}
"$work_dir/chillbox.nft"
}

create_dirs() {
#{#-
## Include script to create initial directories and set the owner and permissions as needed.
## This is to support upload of path objects defined in the chillbox config toml.
#}
cat <<'CHILLBOXUSERDATACREATEDIRS' > "$work_dir/chillbox-user-data-create_dirs.sh"
{% include [create_dirs_script, 'chillbox:create_dirs.sh'] %}
CHILLBOXUSERDATACREATEDIRS
#{#-
## Only need to execute the create_dirs.sh script if it was defined.
#}
if [ -s "$work_dir/chillbox-user-data-create_dirs.sh" ]; then
  chmod u+x "$work_dir/chillbox-user-data-create_dirs.sh"
  "$work_dir/chillbox-user-data-create_dirs.sh"
fi
}

init_s6_openrc_path_secret_watcher() {
{% include [scripts_init_s6_openrc_path_secret_watcher, 'chillbox-scripts:init-s6-openrc-path-secret-watcher.sh'] %}
}

init_chillbox_key() {
mkdir -p /root/chillbox/key
key_name="$(hostname -s | xargs)"
/usr/local/bin/create-asymmetric-key -n "$key_name" -d /root/chillbox/key
mkdir -p /usr/local/share/chillbox/key/
mv "/root/chillbox/key/$key_name.public.pem" /usr/local/share/chillbox/key/
chmod 644 "/usr/local/share/chillbox/key/$key_name.public.pem"
}

nftables_setup
init_user
create_dirs

init_chillbox_key

init_s6_openrc_path_secret_watcher

#{#-
# Reset openrc and zap do-init if fails to start.
# openrc
# rc-service do-init zap
#}
