# Ignore everything
/*

# Except these specific files and directories
!/variables.tf
!/main.tf
!/private.auto.tfvars
!/bin/doterra-encrypt_tfvars.sh
!/bin/doterra-init.sh
!/bin/doterra.sh

# terraform init creates the dependency lock file
# https://www.terraform.io/language/files/dependency-lock
!/.terraform.lock.hcl


# TODO maybe?
#/development
#/acceptance
#/.terraform
#/terraform.tfstate.d
#/production
#/test

