# Ignore everything
/*

# Except these specific files and directories
!/chillbox.tf
!/variables.tf
!/main.tf
!/alpine-box-init.sh.tftpl
!/private.auto.tfvars

# terraform init creates the dependency lock file
# https://www.terraform.io/language/files/dependency-lock
!/.terraform.lock.hcl


# TODO maybe?
#/development
#/acceptance
#/.terraform
#/terraform.tfstate.d
#/production
#/test

