server {
  listen ${SERVER_PORT};

  # Use special wildcard server_name by prefixing with '.' so
  # [chillbox-hostname].${SERVER_NAME} will also match.
  # https://nginx.org/en/docs/http/server_names.html
  server_name .${SERVER_NAME};

  root /srv/${SLUGNAME}/root;
  access_log /var/log/nginx/${SLUGNAME}/access.log;
  error_log /var/log/nginx/${SLUGNAME}/error.log;

  location ${CHILL_STATIC_EXAMPLE_PATH} {
    limit_except GET {
      deny all;
    }
    root /usr/local/src/${SLUGNAME}/chill-static-example/frozen;
    # The last try_files parameter is either '=404' or '@chill-static-example'.
    try_files $uri $uri/index.html ${CHILL_STATIC_EXAMPLE_TRY_FILES_LAST_PARAM};

  }
  location @chill-static-example {
    # Note that when the location is a named location (@name); the request URI
    # is not stripped off before passing it to the proxy. The URL used here when
    # in a named location (@name) therefore can't end with a slash.
    proxy_pass ${CHILL_STATIC_EXAMPLE_SCHEME}://${CHILL_STATIC_EXAMPLE_HOST}:$CHILL_STATIC_EXAMPLE_PORT;
  }


  location ${CHILL_DYNAMIC_EXAMPLE_PATH} {
    proxy_pass ${CHILL_DYNAMIC_EXAMPLE_SCHEME}://${CHILL_DYNAMIC_EXAMPLE_HOST}:$CHILL_DYNAMIC_EXAMPLE_PORT;
  }

  location ${API_PATH} {
    proxy_pass ${API_SCHEME}://${API_HOST}:$API_PORT;
    proxy_redirect default;
  }

  # For SSL cert validation
  location /.well-known/ {
    root /srv/${SLUGNAME}/;
  }

  location ${IMMUTABLE_EXAMPLE_PATH} {
    # Use a URL that ends with a slash because that is where the resources
    # matching the path in the location will be located.
    proxy_pass ${IMMUTABLE_EXAMPLE_URL};
  }

  location ~* ^/(robots|humans).txt$ {
    try_files $uri =404;
  }

  error_page 500 501 504 505 506 507 /error.html;
  location = /error.html {
    internal;
  }

  error_page 502 503 /maintenance.html;
  location = /maintenance.html {
    internal;
  }

  error_page 404 /notfound.html;
  location = /notfound.html {
    internal;
  }
  error_page 403 /forbidden.html;
  location = /forbidden.html {
    internal;
  }
}
