server {
  # Use special wildcard server_name by prefixing with '.' so
  # [chillbox-hostname].${SITE1_SERVER_NAME} will also match.
  # https://nginx.org/en/docs/http/server_names.html
  server_name .${SITE1_SERVER_NAME};

  root /srv/site1/root;
  access_log /var/log/nginx/site1/access.log;
  error_log /var/log/nginx/site1/error.log;

  location / {
    limit_except GET {
      deny all;
    }
    # The frozen directory doesn't exist when developing or when not serving the
    # frozen site. Fallback on the @chill-static-example proxy for dynamic sites.
    root /usr/local/src/site1/chill-static-example/frozen;
    try_files $uri $uri/index.html @chill-static-example;
  }
  location @chill-static-example {
    proxy_pass ${SITE1_CHILL_STATIC};
  }

  location /dynamic/ {
    root /usr/local/src/site1/chill-dynamic-example/frozen;
    try_files $uri $uri/index.html @chill-dynamic-example;
  }
  location @chill-dynamic-example {
    proxy_pass ${SITE1_CHILL_DYNAMIC};
  }

  location /api/ {
    proxy_pass ${SITE1_API}/api/;
    proxy_redirect default;
  }

  # For SSL cert validation
  location /.well-known/ {
    root /srv/site1/;
  }

  # Use the site version as part of the route for cache-busting.
  location /immutable-example/${SITE1_VERSION}/ {
    # Set proxy_ssl_verify in case this request is being passed with https
    proxy_ssl_verify on;

    proxy_pass ${SITE1_IMMUTABLE__EXAMPLE};
  }

  location ~* ^/(robots|humans).txt$ {
    try_files $uri =404;
  }

  error_page 500 501 504 505 506 507 /error.html;
  location = /error.html {
    internal;
  }

  error_page 502 503 /maintenance.html;
  location = /maintenance.html {
    internal;
  }

  error_page 404 /notfound.html;
  location = /notfound.html {
    internal;
  }
  error_page 403 /forbidden.html;
  location = /forbidden.html {
    internal;
  }
}
