server {
  listen ${SERVER_PORT};

  # Use special wildcard server_name by prefixing with '.' so
  # [chillbox-hostname].${SERVER_NAME} will also match.
  # https://nginx.org/en/docs/http/server_names.html
  server_name .${SERVER_NAME};

  root /srv/${SLUGNAME}/root;
  access_log /var/log/nginx/${SLUGNAME}/access.log;
  error_log /var/log/nginx/${SLUGNAME}/error.log;

  location / {
    limit_except GET {
      deny all;
    }
    root /usr/local/src/${SLUGNAME}/chill-static-example/frozen;
    try_files $uri $uri/index.html =404;
  }

  location ${CHILL_DYNAMIC_PUBLIC_URL_PREFIX}/ {
    proxy_pass ${CHILL_DYNAMIC};
  }

  location /api/ {
    proxy_pass ${API}/;
    proxy_redirect default;
  }

  # For SSL cert validation
  location /.well-known/ {
    root /srv/${SLUGNAME}/;
  }

  location ${IMMUTABLE_EXAMPLE_URI} {
    proxy_pass ${IMMUTABLE_EXAMPLE};
  }

  location ~* ^/(robots|humans).txt$ {
    try_files $uri =404;
  }

  error_page 500 501 504 505 506 507 /error.html;
  location = /error.html {
    internal;
  }

  error_page 502 503 /maintenance.html;
  location = /maintenance.html {
    internal;
  }

  error_page 404 /notfound.html;
  location = /notfound.html {
    internal;
  }
  error_page 403 /forbidden.html;
  location = /forbidden.html {
    internal;
  }
}
