
# TODO Replaces the use of the old /etc/chillbox/chillbox.config file. Any
# changes to this file will trigger the /etc/chillbox/bin/update.sh script.

export SITES_ARTIFACT="{{ SITES_ARTIFACT }}"
export SERVER_NAME="sitejsonplaceholder-server_name"
export SERVER_PORT=80
export SLUGNAME="sitejsonplaceholder-slugname"
export VERSION="sitejsonplaceholder-version"
