<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Site1 Example
    </title>

    <link type="text/plain" rel="author" href="/humans.txt">

  </head>
  <body>

    {% block body %}
    {% endblock %}

    <a href="/example/{{ config.VERSION }}/file1.txt">file 1</a>
    <br>
    <a href="/example/{{ config.VERSION }}/file2.txt">file 2</a>
  </body>
</html>
