<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Site1 Example
    </title>

    <link type="text/plain" rel="author" href="/humans.txt">

  </head>
  <body>

    {% block body %}
    {% endblock %}

  </body>
</html>
